<!DOCTYPE html>
<html>
<head>
  <title>Add commute photo</title>
  {{> headers-common }}
</head>
<body>
  {{> header }}
  <div>
    <div class="container">
    <h1>Add commute photo</h1>
      <form class="userForm" id="registerform" action="addcommutephoto.php" method="post" enctype="multipart/form-data">
          <input type="file" name="photo" id="photo" /><span><br /><br /><br />
          <input type="text" name="commuteId" value="{{commuteId}}" hidden/>
          <button type="submit" name="button" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  {{> footer }}
</body>
</html>
