<!DOCTYPE html>
<html>
<head>
    <title>Edit commute</title>
    {{> headers-common }}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmzfwQwaAOlHeWP-M5Whpe58xA5LDBtwQ&callback=initCommuteEditMap">
    </script>
    <script async defer src="static/js/maps-handler.js" charset="utf-8" integrity="sha384-gEoRaZoJhpjaK3+n/wayBwlVrrm5lcNUC97xEPmWDB/rCbuR+yGHFIaWQGZ5RegM"></script>
</head>
<body>
    {{> header }}
    <div class="container" id="newcommutestep1">
        <div class="row">
            <h1>Edit commute <span id="commuteId">{{commuteId}}</span> </h1>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2>Details</h2>
                <form class="userForm" id="commuteform" action="updatecommute.php" method="post">
                    <div class="form-group">
                        <p><b>I am...</b> </p>
                        <input type="radio" id="commuterequest"
                        name="commutetype" value="requests" {{requests}}>
                        <label for="commuterequest">Requesting a ride</label>

                        <input type="radio" id="commuteprovide"
                        name="commutetype" value="provides" {{provides}}>
                        <label for="commuteprovide">Providing a ride</label>
                    </div>
                    <div class="form-group">
                        <p><b>on...</b> </p>
                        <input type="checkbox" id="commuterequest"
                        name="commutemon" {{mon}}>
                        <label for="commutemon">Mon </label>

                        <input type="checkbox" id="commuterequest"
                        name="commutetue" {{tue}}>
                        <label for="commutetue">Tue </label>

                        <input type="checkbox" id="commuterequest"
                        name="commutewed" {{wed}}>
                        <label for="commutewed">Wed </label>

                        <input type="checkbox" id="commuterequest"
                        name="commutethu" {{thu}}>
                        <label for="commutethu">Thu </label>

                        <input type="checkbox" id="commuterequest"
                        name="commutefri" {{fri}}>
                        <label for="commutefri">Fri </label>
                        <input type="time" name="time" value="{{arriveby}}" placeholder="09:00" required /><br />
                    </div>
                    <textarea name="notes" rows="8" cols="80" placeholder="Enter any other details here" class="form-control">{{notes}}</textarea><br />
                    <input type="text" name="startloc" id="startloc" value="{{startloc}}" required hidden/>
                    <input type="text" name="endloc" id="endloc" value="{{endloc}}" required hidden/>
                    <input type="text" name="id" id="id" value="{{commuteId}}" required hidden/>
                    <div id="map"></div>
                    <button type="submit" class="btn btn-primary" name="button"><i class="fa fa-floppy-o"></i> Save post</button>
                    <a href="deletecommute.php?id={{commuteId}}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Remove this commute</button></a>
                </form>
            </div>
            <div class="col-xs-6">
                <h2>Photos <a href="paddcommutephoto.php?id={{commuteId}}"><button type="button" class="btn btn-primary">+</button></a></h2>

                {{^commute_photos}}
                <p>No photos have been uploaded for this commute</p>
                {{/commute_photos}}
                {{#commute_photos}}
                <div class="col-xs-6">
                    <a href="/media/uploads/{{ name }}">
                        <span class="imagebox">
                            <img width="200" src="/media/uploads/{{ name }}" alt="" />
                        </span>
                        <a href="deletephoto.php?id={{id}}&cid={{commuteId}}"><button type="button" class="btn btn-secondary"><i class="fa fa-trash-o"></i></button></a>
                    </a><br /><br />
                </div>
                {{/commute_photos}}
            </div>
        </div>
    </div>
    {{> footer }}
</body>
</html>
