<div class="container" id="footer">
    <p>(c) 2017 Yousef DO NOT STEAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
</div>
