<footer class="footer footer-copyright navbar-bottom" id="footer">
    <div class="container-fluid">
        <p><i class="fa fa-copyright"></i> 2017 Yousef DO NOT STEAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
    </div>
</footer>
<script async defer type="text/javascript" id="cookiebanner"
src="static/js/eu_cookie_banner.js" integrity="sha384-Ef9iRu9FxzhjJDPhU12JDtgibSpNhgeCKtFr7UxmE1t8HCyRtR+fYiNIwdOMSVXd"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
