<div class="container" id="footer">
    <p>(c) 2017 Yousef DO NOT STEAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
</div>
<script async defer type="text/javascript" id="cookiebanner"
  src="static/js/eu_cookie_banner.js"></script>
