<div class="header" id="header">
    <div class="header_section">
        <h1><a href="index.php">NAME</a></h1>
    </div>
    {{#user_details}}
    <div class="header_section">
        <a href="pprofile.php"><img width="50" height="50" src="{{#profile_photo}}/media/uploads/{{/profile_photo}}{{ profile_photo }}{{^profile_photo}}/static/img/default_profile.jpg{{/profile_photo}}" alt="Your profile photo"></a>
        <div class="profile_menu">
            <ul>
                <li><a href="#">My Commutes</a></li>
                <li><a href="pprofile.php">My Profile</a></li>
                <li><a href="logout.php">Sign out</a></li>
            </ul>
        </div>
    </div>
    {{/user_details}}
    {{^user_details}}
    <div class="header_section">
        <a href="plogin.php">Log In</a>
        <a href="pregister.php">Sign up</a>
    </div>
    {{/user_details}}
</div>
