<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {{> headers-common }}
    </head>
    <body>
        {{> header }}
        <h1>THIS IS THE HOMEPAGE THAT DOES NOTHING</h1>
        {{> footer }}
    </body>
</html>
