<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {{> headers-common }}
    </head>
    <body>
        {{> header }}
        <div class="container">
            {{#error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/error}}
    <h1>THIS IS A HOMEPAGE THAT DOES NOTHING</h1>

        </div>
        {{> footer }}
    </body>
</html>
