<!DOCTYPE html>
<html>
    <head>
        <title>Verify your account</title>
        {{> headers-common }}
    </head>
    <body>
{{> header }}

        <div class="container" id="tokenform">
            <h1>Verify your account</h1>
            <p>We've emailed you a 5-digit code to enter below:</p>
            <form class="" action="verify.php" method="post">
                <input type="number" name="token" placeholder="00000" maxlength="5" required /><br />
                <button type="submit" name="button">Verify</button>
            </form>
            <p>or <a href="#">send another code</a></p>
        </div>


{{> footer }}
    </body>
</html>
