<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
        <h2>Your token is</h2>
        <h1><b>{{ token }}</b></h1>
        <h3>It will expire in 24 hours</h3>
        <p>This email was sent to you as you are registered to {{ site }}.</p>
    </body>
</html>
